<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="nopcommerceV1">
	
	<listeners>
	
		<listener class-name="utilities.com.itkhanz.nopcommerce.Reporting" />
	</listeners>
	
	
	<test name="nopcommerceTest1">
		<parameter name="browser" value="chrome" />
		<classes>
			  <!--<class name="testCases.com.itkhanz.nopcommerce.TC_LoginTest_001" /-->>
			<!--<class name="testCases.com.itkhanz.nopcommerce.TC_LoginDDT_002" />-->
			<!--<class name="testCases.com.itkhanz.nopcommerce.TC_AddCustomerTest_003" />-->
			<class name="testCases.com.itkhanz.nopcommerce.AddCustomerTest" />

		</classes>
	</test>
	
	
	<!--  <test name="nopcommerceTest2">
		<parameter name="browser" value="firefox" />
		<classes>
			<class name="testCases.com.itkhanz.nopcommerce.TC_LoginTest_001" />
		</classes>
	</test>
	
	
	<test name="nopcommerceTest3">
		<parameter name="browser" value="ie" />
		<classes>
			<class name="testCases.com.itkhanz.nopcommerce.TC_LoginTest_001" />
		</classes>
	</test> -->

</suite>